
.todo-header{
  background-color: #222;
  height: 44px;
  padding: 20px;
  color: white;
  display: flex;

}

.todo-header-title{

    font-size: 40px;
    font-weight: 900;

}

.todo-header-input{

    outline: none;
    height: 35px;
    font-size: larger;
    margin-left: 20px;
    border-radius: 10px;
    flex: 1;
    margin-top: 15px;

}

.todo-top{

  height: 44px;

  width: 60%;

  margin: 0 auto;

  line-height: 44px;

  display: flex;

  align-items: center;

  justify-content: space-between;

  margin-top: 20px;

}

.todo-top-button{

    background-color:#222 ;

    color: white;

    font-weight: bold;

    border-radius: 10px;

    outline: none;

    height: 44px;

    width: 88px;

}
.todo-top-leftItem{


}

.todo-left{
  /*float: left;*/

}



.todo-input-finish{

    height: 80%;
    margin-left: 10px;
    border-radius: 10px;
    width: 90px;
    background-color: #222;
    color: white;
    outline: none;
}

.todo-list{

    width: 65%;
    height: 100%;
    display: flex;
    margin:0 auto;
}

.todo-item-selectedImage{

    width: 25px;
    height: 25px;
}

.todo-item{

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom-style: groove;
    border-bottom-width: 0.5px;


}
.todo-item-line{

    width: 100%;
    /*padding-left: 25px;*/
    padding-right: 45px;
}
